<html>

  <head>
    <style>
    </style>
  </head>

  <body>
    <p>Welcome to AO13</p>
    <p>Complete registration by clicking the link</p>
    <a href="{{link}}">Complete registration</a>
  </body>

</html>